body, html{
  height:100%;
  background: url(img/pokemonStadium.jpg) top left no-repeat; background-attachment:fixed;
  background-size: 1280px, 720px;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .battle{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancefloor{

}
.dancefloor span{
  position: absolute;
  width: 50px;
  height: 50px;
}


.dancer0{
  content: url(img/snorlax.gif);
}
.dancer1{
 content: url(img/arcanine.gif);
}
.dancer2{
  content: url(img/bellsprout.gif);
}
.dancer3{
  content: url(img/charizard.gif);
}
.dancer4{
  content: url(img/dragonite.gif);
}
.dancer5{
 content: url(img/eevee.gif);
}
.dancer6{
  content: url(img/gengar.gif);
}
.dancer7{
  content: url(img/koffing.gif);
}
.dancer8{
  content: url(img/poliwrath.gif);
}
.dancer9{
 content: url(img/scyther.gif);
}
.dancer10{
  content: url(img/typhosion.gif);
}
.dancer11{
  content: url(img/mew.gif);
}

.fighting{
  content: url(img/explosion.gif);
}
